{{#extend "styles"}}
    <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
{{/extend}}


<div class="container">
    <h2>Christian Education</h2>
    <div id="accordion">
        {{#each christedu}}

            <div class="card">
                <div class="card-header" id="heading{{@index}}">
                    <h5 class="mb-0">
                        <button class="btn btn-info" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
                        {{@key}}
                        </button>
                        <button class="btn btn-danger float-right delete">delete</button>
                    </h5>
                </div>

                <div id="collapse{{@index}}" class="collapse" aria-labelledby="heading{{@index}}" data-parent="#accordion">
                    <div class="card-body">
                        {{{this}}}
                    </div>
                </div>
            </div>

        {{/each}}
    </div>

    <div class="container topmargin border padding">
        <h6>Add new Christian Education</h6>
        <form onsubmit="return newChristEdu(event);">
            <div class="form-group">
                <label for="christedutitle">Title</label>
                <input id="christedutitle" type="title" class="form-control" id="christedutitle" placeholder="Enter Title">
            </div>
            <div id="editor">
                <p>enter new Christian Education here</p>
            </div>
            <button type="submit" class="btn btn-primary topmargin">Submit</button>
        </form>
    </div>

</div>

{{#extend "scripts"}}
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script>
    <script>
        // Initialize Quill editor
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

        function newChristEdu(event){
            event.preventDefault();
            
            const data = {};
            data.title = $('#christedutitle').val();
            data.description = encodeURI($('#editor .ql-editor').html());

            $.post('/admin/christedu/create', data, function(data, status){
    
                location.reload();
            });

            return false;
        }

        $('.delete').on('click',function(){
            let data = {};
            data.title = $(this).siblings('.btn-info').html().trim(); 
           
            $.post('/admin/christedu/delete', data, function(data, status){
                location.reload();
            });
        });
    </script>
{{/extend}}