{{#extend "styles"}}
    <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
{{/extend}}

<div class="container">
    <h2>Worship</h2>
</div>



<div class="container topmargin border-top-dark">
    <div class="topmargin">
        <h4>Service</h4>
    </div>
    {{!-- edit service description --}}
    <div class="container border padding">
        <h6>Edit Service Time</h6>
        <ul class="list-group">
            {{#each service.times as |time|}}
                <li class="list-group-item">
                    {{time.info}}
                    <button class="btn btn-danger float-right delete-servicetime" type="button">delete</button>
                    <span class="hide">{{time.id}}</span>
                </li>
            {{/each}}
        </ul>
        <form action="/admin/worship/addservicetime" method="post" class="topmargin">
            <h6>Add new time</h6>
            <input type="text" class="form-control" name="time">
            <button type="submit" class="btn btn-primary topmargin">Submit</button>
        </form>
    </div>

    <div class="container border padding topmargin" id="service">
        <form onsubmit="return updateServiceDesc(event);">
            <h6>Edit Service Description</h6>
            <div id="editor1">
                {{!-- inject db info here --}}
                {{{service.description}}}
            </div>
            <button type="submit" class="btn btn-primary topmargin">Submit</button>
        </form>
    </div>
</div>

<div class="container topmargin border-top-dark padding">
    <div class="topmargin">
        <h4>Music</h4>
    </div>
    <div id="accordion" class="">
        {{#each musicItem}}

            <div class="card">
                <div class="card-header" id="heading{{@index}}">
                    <h5 class="mb-0">
                        <button class="btn btn-info" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
                            {{@key}}
                        </button>
                        <button class="btn btn-danger float-right delete-music">delete</button>
                    </h5>
                </div>

                <div id="collapse{{@index}}" class="collapse" aria-labelledby="heading{{@index}}" data-parent="#accordion">
                    <div class="card-body">
                        {{{this}}}
                    </div>
                </div>
            </div>

        {{/each}}
    </div>

    {{!-- add new music --}}
    <div class="container topmargin border padding" id="music">
        <h6>Add a new music item</h6>
        <form onsubmit="return newMusicItem(event);">
            <div class="form-group">
                <label for="musictitle">Title</label>
                <input id="musictitle" type="title" class="form-control" id="musictitle" placeholder="Enter Title">
            </div>
            <div id="editor2">
                <p>enter new music item here</p>
            </div>
            <button type="submit" class="btn btn-primary topmargin">Submit</button>
        </form>
    </div>


</div>

{{#extend "scripts"}}
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script>
    <script>
        // Initialize Quill editor
        var quill1 = new Quill('#editor1', {
            theme: 'snow'
        });

        var quill2 = new Quill('#editor2', {
            theme: 'snow'
        });

        function updateServiceDesc(event){
            event.preventDefault();
            
            const data = {};
            data.description = encodeURI($('#service #editor1 .ql-editor').html());

            $.post('/admin/worship/servicedescription', data, function(data, status){
    
                location.reload();
            });

            return false;
        }

        function newMusicItem(event){
            event.preventDefault();

            let data = {};
            data.title = $('#musictitle').val();
            data.description = encodeURI($('#music #editor2 .ql-editor').html());

            $.post('/admin/worship/music/create', data, function(data, status){

                location.reload();
            });

            return false;
        }

        $('.delete-music').on('click',function(){
            let data = {};
            data.title = $(this).siblings('.btn-info').html().trim();

            $.post('/admin/worship/music/delete', data, function(data, status){
                location.reload();
            });
        });

        $('.delete-servicetime').on('click',function(){
            let data = {};
            data.id = $(this).siblings('span').html().trim();
            $.post('/admin/worship/deleteservicetime', data, function(data, status){
                location.reload();
            });
        });

    </script>
{{/extend}}