<!-- Banner -->
<section id="banner">
	<div class="inner">
		<img src="images/UCCemblem.svg.png">
		<h1>United Church of Christ Clinton</h1>
		<ul class="actions">
			<li><a href="#one" class="button wide scrolly">Get Started</a></li>
		</ul>
	</div>
</section>

<!-- One -->
<section id="one" class="wrapper">
	<div class="inner">
		<div class="split style1 centered reversed">
			<section>
				<span class="image fit portrait"><img src="images/ajustworldlogo.png" alt="" /></span>
			</section>
			<section>
				<div class="container">
					<h2>Mission Statement</h2>
					<h3>{{mission}}</h3>
				</div>
				<div class="container border-top-dark padded">
					<div class="jumbotron topmargin">
						{{{annualQuote}}}
					</div>
				</div>
			</section>
		</div>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
	
		<div class="row">
			<div class="col">
				<h3>Newsletter</h3>
				<a href="/storage/uploads/newsletter/{{newsletter}}" class="button icon fa-download" target="_blank">Download PDF</a>
			</div>
			<div class="col">
				<h3>Listen to the latest service!</h3>
				<audio controls>
					<source src="/storage/uploads/audiofile/{{audio}}" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>			
			</div>
		</div>
	
</section>

<!-- Three -->
<section id="three" class="wrapper">
	<div class="inner">
		<h2>Highlights</h2>
		<div class="scrollbox">
			<table class="alt">
				<thead>
					<tr>
						<th>Date</th>
						<th>Time</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{{#each highlights}}
						<tr>
							<td>{{this.date}}</td>
							<td>{{this.time}}</td>
							<td>{{this.description}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>	
	</div>
</section>

<!-- Four -->
<section id="four" class="quotes">
	<article>
		<img class="hide-on-small" src="images/diane.png" alt="" data-position="left" />
		<h2>A message from the pastor.</h2>
	</article>
	<article class="icon fa-quote-left">
		<span class="image"><img src="images/pic04.jpg" alt="" data-position="left" /></span>
		<h2>"{{pastorQuote}}"</h2>
		<div class="author">
			<span class="name">Pastor Diane White</span>
		</div>
	</article>
</section>

<!-- Five -->
<section id="five" class="wrapper text-center">
	<h2>Daily Devotional - United Church of Christ</h2>
	<div id="dailydevotional" class="inner scrollbox box text-left">

		<script src="https://feeds.feedburner.com/uccdailydevotional?format=sigpro&nItems=10&displayTitle=false" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/UnitedChurchOfChrist">Powered by FeedBurner</p></noscript>				
	</div>
</section>


{{#extend "scripts"}}
<script>
	$(function(){
		let feed = $('#dailydevotional').find('ul');
		feed.addClass('alt');
	});
</script>
{{/extend}}
