<!-- Main -->
<section id="main" class="wrapper">
	<div class="inner">

		<header>
			<h1>Music</h1>
			<p>Feugiat adipiscing nisl amet</p>
		</header>
		<a href="#" class="image main"><img src="images/pic07.jpg" alt="" /></a>

        <div class="container">
            <div id="accordion">

                {{#each musicItem}}

                    <div class="card">
                        <div class="card-header" id="heading{{@index}}">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
                                    {{@key}}
                                </button>
                            </h5>
                        </div>

                        <div id="collapse{{@index}}" class="collapse" aria-labelledby="heading{{@index}}" data-parent="#accordion">
                            <div class="card-body">
                                {{{this}}}
                            </div>
                        </div>
                    </div>

                {{/each}}
                
            </div>
        </div>

	</div>
</section>